@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,700);
body {
    margin: 0px;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(59, 59, 59);
}


p{
    font-size: 3vw;
}

h5{
    font-size: 6vh;
    margin: 0;
    margin-top: 20px;
}
@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }
@media screen and (max-width: 600px){
    h1{
        font-size: 1vh;
    }
    p{
        font-size: 1.5vh;
    }
    #gl-canvas{
        display: none;
    }
}
canvas {
    width: 100vw;
    height: 100vh;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -9999;
  }

h1{
    font-size: 8vh;
    color: rgb(66, 90, 104);
    text-transform: uppercase;
}
h2{
    font-size: 4vh;
    color:white;
}
#header h2{  
    background: rgb(66, 90, 104);
    padding: .3em 1em;
    text-transform: uppercase;
}
section{
    padding: 2em 5%;
    padding-bottom: 4em;
    margin: 5vh 10%;
    background-color: rgba(255, 255, 255, 0.96);
}

#header{
    text-align: center;
}

.skills{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.skills ul{
    list-style: none;
    font-size: 4vh;
}
.black{
    
    padding: auto;
    padding: 10px 80px;
}

#education{
}

.wrapEdu{
    position:relative;
    height: 50rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.school{
    overflow: auto;
    width: 70%;
    height: 40rem;
    position: absolute;
    inset: 0;
    opacity: 0;
    left: 0;
    right: 0;
    background-color: white;
    padding: 5vh;
    border-radius: 50px;
    color: rgb(94, 94, 94);
    margin-left: auto;
    margin-right: auto;
    transition: opacity 200ms ease-in-out;
    transition-delay: 200ms;
}
.active{
    opacity: 1;
    transition-delay: 0;
}
.school h2{
    text-decoration: solid;
    margin: 0;
    text-transform: uppercase;
    color: rgb(94, 94, 94);
}
.buttonWrap{
    display: inline;
}
.carousel-button{
    background-color: rgb(209, 209, 209);
    position: absolute;
    /* margin: 0 1.5em; */
    width: 5%;
    height: 80%;
    font-size: 5rem;
    /* padding-bottom: 1%; */
    /* border-radius: 30px; */
    /* margin: 0 1rem; */
    /* color: white; */
    border: 0px solid rgb(66, 90, 104);
    transition: 200ms;
    top:0;
    bottom:0;
}

.carousel-button:hover:enabled{
    background-color: rgb(66, 90, 104);
    cursor: pointer;
}

.carousel-button.back{
    left: 2%;
}

.carousel-button.next{
    right: 2%;
}
.container{
    /* display: flex; */
    /* top: 50%; */
    margin-right: auto;
    margin-left: auto;
    position: relative;
    /* align-items: center; */
    /* height: 20vh; */
    /* top: 50%; */
    /* border: 1px solid black; */
    /* flex-wrap: wrap; */
    justify-content: space-evenly; 
    background-color: white;
}
.year{
    background-color: rgb(66, 90, 104);
    color: white;
    text-align: center;
    padding: 12px 1em;
    font-size: 4vh;
}
.year span{
    text-align: center;
    margin-right: 0;
    padding: 0 3em;
    font-size: 3vh;
    display: block;
}

@media screen and (max-width: 600px){
    .year{
        font-size: 2vh;
    }
    .year span{
        font-size: 1vh;
    }
}
.avatar{
    width: 250px;
    position: relative;
    display: inline-block;
    border-radius: 10p;
    /* display: flex; */ 
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    /* display: block; */
}
.avatar img{
    width: 250px;
    /* position: absolute; */
    
    border-radius: 100px;
    /* left: 0; */
    transition: opacity 500ms ease-in-out;

}

.avatar img:last-child{
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}
.avatar:hover img:last-child{
    opacity: 1;
    cursor: pointer;
}
 
h2 span {
border-right: .05em solid;
animation: caret 1s steps(1) infinite;
}

@keyframes caret {
50% {
    border-color: transparent;
}
}


/* Project */
#proj-container{
    /* display: grid;
    grid-column-gap: 50px;
    grid-template-areas:
    'item1 item1 item2 item2 item2 item3'
    'item1 item1 item2 item2 item2 item3'
    'item1 item1 item4 item4 item5 item5';
    grid-gap: 30px;
    padding: 10px; */
    /* grid-template-columns: repeat(5, 1fr); */
    /* grid-auto-rows: minmax(1000px, auto); */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.proj{
    width: 580px;
    /* height: auto; */
    /* border: 1em solid black; */
    /* grid-column-start: 1;
    grid-column-end: 3; */
    margin: 2em 1em;
    cursor: pointer;
    position: relative;
    
}

.proj h2{
    position: absolute;
    padding: 2% 10%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    background-color: rgba(46, 81, 87, 0.808);
    transition: all .75s ease;
    width: 1px;
    opacity: 0;
}
.proj img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 300ms ease-in-out;
    z-index: -99;
}
.proj:hover > h2{
    opacity: 1;
    width: 50%;
}
.proj:hover > img{
    opacity: 0.8;
}
.item1 { grid-area: item1; }
.item2 { grid-area: item2; }
.item3 { grid-area: item3; }
.item4 { grid-area: item4; }
.item5 { grid-area: item5; }

.popup-container{
    display: none; 
    position: fixed; /* Stay in place */
    z-index: 4; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.popup-container.active{
    display: block;
}

.pop{
    display: none;
    background-color: white;
    border-radius: 30px;
    text-align: center;
    color: #888;
    margin: 2% auto; 
    padding: 20px 200px;
    padding-bottom: 50px;
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
}

.pop h1{
    text-transform: uppercase;
    color: rgb(94, 129, 129);
}
.pop h2{
    color: black;
}
.pop.active{
    display: block
}

.pop img{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#footer{
    margin: 0;
    background-color: rgb(98, 98, 98);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

#footer a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

address{
    font-size: 2rem;
    
}

.social{
    text-align: right;
}
#download{
    font-size: 4vh;
    background-color: cadetblue;
    padding: 0.3em 1em;
}

#download:hover{
    color: cadetblue;
    background-color: white;
}